body {
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}



.hero {
    height: 100vh;
    background-image: url(/img/Katrinebjerg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    color: white;
    font-size: 40px;
    position: relative; 
}

.hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

#navbar{
    margin-right: 20px;
}

.hero-area{
    display:flex;
    height: 100%;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

section {
    height: 100vh;
    background-color: #1c1d25;
    border: solid black 1px;
}

#logo{
    margin-left: 20px;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

ul{
    display:flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    margin: 0;
    font-size:80px;
    margin-left: 80px;
    margin-top: 100px;
}

h4{
    font-size: 50px;
    margin: 0;
    margin-left: 80px;
}

h5{
    font-size: 50px;
    margin: 0;
    margin-left: 80px;
}

small{
    margin-left: 80px;
}

p{
    margin: 0;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
    z-index: 1;
}

.socials {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.social{
    display: flex;
    margin: 30px;
    align-items: center; 
}

footer{
    color:black;
}

.about {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url(/img/About.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 1;
    color: white;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    filter: brightness(50%);
}

.about p {
    margin-left: 80px;
}

#fit{
    width: 100%; /* Set the container width to 100% */
    height: 100%;
    object-fit: contain;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin-left: 80px;
    margin-top: 100px;
}

.timeline p{
    font-size: 20px;
    margin: 0;
}

.timeline h5{
    margin: 0;
    font-size: 30px;
}

.container{
    padding: 10px 10px;
    position: relative;
    width: 40%; 
}

.text-box{
    padding: 10px 10px;
    position: relative;
    border-radius: 6px;
    color: white;
    border: solid white 1px; 
}

.projects{
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    transition: background .4s ease-in;
    background-color: #c394f8;

}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.cards {
    position: relative;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    transition: background .4s ease-in;
    background-color: #c394f8;
}

.infobox {
    width: 30%;
    height: 90%;
    border: solid white 1px;
    border-radius: 20px;
    margin-left: 80px;
    color: white;
    position: relative;
}

.title{
    margin: auto;
    color: white;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.textarea {
    margin: 30px;
}

.textarea h5{
    margin-left: 0;
}

.img-project{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.project-container {
    width: 100%;
    height: 80%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
    .img-project{
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

button#readbtn,
button#codebtn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.button-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px;
}

/*CSS for tablets*/
@media (max-width: 1366px) {
    h1 {
        font-size: 60px;
    }
  
    h2 {
        font-size: 40px;
        margin-left: 80px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
  
    h4,
    h5 {
        font-size: 30px;
        margin-left: 40px;
    }
  
    p {
        font-size: 20px;
    }
  
    .timeline {
        margin-left: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .container{
        width: 100%;
    }
  
    .infobox {
        width: 50%;
        margin-left: 40px;
    }
  
    .textarea {
        margin: 20px;
    }
  
    .project-container {
        flex-direction: row;
    }

    .text-box h5 {
        font-size: 25px;
    }
    
      .text-box p {
        font-size: 18px;
    }

    .project-container {
        flex-direction: row;
      }
    
    .infobox {
        width: 35%;
        margin-right: 0px;
        margin-left: 70px;
    }
    
    .cards {
        width: 50%;
        margin-right: 20px;
    }
}